
.loginLeft{
  background-image: linear-gradient(to right top, #051937, #003c5a, #006171, #12867a, #67a97b);
}

.loginBtn{
  background-image: linear-gradient(to right top, #051937, #003c5a, #006171, #12867a, #67a97b);
}

.forgotBtn{
  background-image: linear-gradient(to right top, #051937, #003c5a, #006171, #12867a, #67a97b);
}